* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.banner {
  display: flex;
  justify-content: space-around;
  background-color: white; }

.logo-detrebi {
  width: 200px;
  height: 150px; }

body {
  background-color: #cccbcb; }

.fot, .fot--instagram, .fot--whatsapp, .fot--mail {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background-color: #8d620c;
  font-size: 18px;
  font-size: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.fot--instagram {
  color: white; }

.fot--whatsapp {
  color: black; }

.fot--mail {
  color: pink; }

#grilla {
  display: grid;
  height: 600px;
  width: 100%;
  grid-template-columns: 40% 40%;
  grid-template-rows: 80%;
  grid-template-areas: "portada" "main-texto";
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3rem; }

.portada {
  width: 100%;
  height: 80%;
  position: relative;
  top: 3%; }

h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

.parrafo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  text-align: justify; }

.parrafo {
  font-family: verdana;
  font-size: 17px;
  text-align: justify;
  color: black; }

.parrafodos {
  font-family: verdana;
  font-size: 17px;
  text-align: justify;
  color: #70640a; }

.parrafotres {
  font-family: Trebuchet;
  font-size: 20px;
  text-align: justify;
  color: white; }

.header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; }
  .header button {
    height: 35px;
    width: 70px;
    position: relative;
    float: left; }

.header-menu li {
  display: inline-block;
  margin: 1rem 2rem; }
  .header-menu li a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: #8d620c;
    font-size: 20px;
    text-decoration: none; }
    .header-menu li a:hover {
      color: #ffff;
      background-color: #7f8b6b; }
