* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 600px) {
  #grilla {
    height: 900px;
    grid-template-columns: 80%;
    grid-template-rows: 300px 300px;
    grid-template-areas: "main-texto" "portada";
    justify-content: center; }
  .header {
    height: 300px;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center; }
  #grilla-productos {
    height: 1500px;
    grid-template-columns: 80%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-areas: "img-cargo"  "tabla-cargo" "img-campo"  "tabla-campo"  "img-camisa"  "tabla-camisa";
    justify-content: space-evenly;
    justify-items: center;
    gap: 3rem;
    align-items: center; }
  footer {
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  iframe {
    width: 350px;
    height: 200px; }
  .borcego {
    grid-template-columns: 80%;
    grid-row: 15% 15% 15% 15% 15%;
    grid-template-areas: "imagenes/zapatos.jpg"  "imagenes/borcego.jpg"  "imagenes/borcegomarron.jpg" "imagenes/botamarron.jpg"  "imagenes/zapatos-cordon.jpg";
    height: 1000px;
    width: 100%;
    justify-items: center;
    background-color: white; }
  .stgroup {
    height: 500px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 30%;
    grid-template-areas: "imagenes/ST.jpg" "imagenes/ST2.jpg" "imagenes/ST3.jpg" "imagenes/st4.jpg";
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .st {
    width: 100%;
    height: 100%; }
  .st2 {
    height: 50%;
    width: 100%; }
  .enviar {
    width: 25%;
    height: 2%; } }

@media (min-width: 600px) {
  #grilla {
    display: grid;
    height: 600px;
    width: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows: 80%;
    grid-template-areas: "portada" "main-texto";
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 3rem; }
  .header {
    justify-content: space-evenly;
    align-items: center;
    align-content: center; }
  footer {
    height: 50px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center; }
  #grilla-productos {
    height: 1200px;
    width: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "img-cargo" "tabla-cargo" "img-campo" "tabla-campo"  "img-camisa" "tabla-camisa";
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem; }
  .borcego {
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-row: 80%;
    grid-template-areas: "imagenes/zapatos.jpg" "imagenes/borcego.jpg" "imagenes/borcegomarron.jpg" "imagenes/botamarron.jpg" "imagenes/zapatos-cordon.jpg";
    height: 250px;
    width: 100%; }
  .stgroup {
    height: 500px;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 90%;
    grid-template-areas: "imagenes/ST.JPG"  "imagenes/ST2.jpg" "imagenes/ST3.jpg";
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 3rem; }
  .st {
    width: 100%;
    height: 70%; }
  .animate__animated {
    width: 100%;
    height: 70%; }
  .st2 {
    height: 70%;
    width: 90%; }
  .enviar {
    width: 10%;
    height: 5%; } }

#grilla {
  display: grid; }

#grilla-productos {
  display: grid;
  background-image: url(../imagenes/ladrillosblancos.jpg); }

.header {
  display: flex;
  border-bottom: 1px solid black; }

footer {
  background-color: #517528;
  display: flex; }

h1 {
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  background-color: #8d620c; }

.header button {
  height: 35px;
  width: 70px;
  position: relative;
  float: left; }

.header-menu li {
  display: inline-block;
  margin: 1rem 2rem; }

nav ul li a:hover {
  color: #ffff;
  background-color: #7f8b6b; }

h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline; }

a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #8d620c;
  font-size: 20px;
  text-decoration: none; }

.banner {
  display: flex;
  justify-content: space-around;
  background-color: white; }

.logo-detrebi {
  width: 200px;
  height: 150px; }

body {
  background-color: #cccbcb; }

.parrafo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: justify; }

footer {
  background-color: #8d620c;
  display: flex; }

.pie-pag {
  color: #cbcbcc;
  font-size: 15px;
  display: inline; }

.instagram {
  color: #dab9d0;
  text-decoration: underline;
  font-size: 15px; }

.portada {
  width: 100%;
  height: 80%;
  position: relative;
  top: 3%; }

.img-cargo {
  height: 60%;
  width: 30%;
  border: solid #505050;
  transition: all 1s; }

.img-cargo:hover {
  transform: scale(1.2, 1.2); }

.img-camisa {
  height: 50%;
  width: 30%;
  border: solid #505050;
  transition: all 1s; }

.img-camisa:hover {
  transform: scale(1.2, 1.2); }

.img-campo {
  height: 60%;
  width: 30%;
  border: solid #505050;
  transition: all 1s; }

.img-campo:hover {
  transform: scale(1.2, 1.2); }

table {
  border: solid darkolivegreen; }

th {
  width: 25%;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em; }

td {
  width: 25%;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em; }

table td ul li {
  list-style: none;
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

table td ol li {
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

th {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.boton-compra {
  color: darkolivegreen;
  font-size: 15px; }

.accesorios-video {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  height: 700px;
  align-items: center;
  padding: 0 10rem;
  justify-content: center;
  background-color: #cccbcb; }

h2 {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.logo-instagram {
  width: 15px;
  position: relative;
  left: 150px; }

.borcego {
  display: grid;
  background-color: white;
  justify-content: space-around; }

.stgroup {
  display: grid; }

.stgroupb {
  display: grid;
  height: 500px;
  width: 100%;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 90%;
  grid-template-areas: "imagenes/chaleco.JPG"  "imagenes/chaleco1.JPG" "imagenes/chaleco2.JPG";
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3rem; }

.nuestros-trabajos {
  padding: 20px; }

h3 {
  text-align: center; }

.parrafo-trabajos {
  text-align: center; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 30%; }

.titulo-form {
  padding: 4% 0% 0% 0%; }

.sobre-nosotros {
  margin-bottom: 1rem; }

.bi-instagram {
  font-size: 18px;
  color: white; }

.bi-whatsapp {
  font-size: 18px;
  color: white; }
