* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .banner{
    display: flex;
    justify-content: space-around;
    background-color: $letras-footer;
  
  }

  .logo-detrebi {
    width: 200px;
    height: 150px;
    }

  body { 
    background-color: rgb(204, 203, 203);    
  }

//*se aplica EXTEND*//
  .fot {
    display: flex;
    height: 50px;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
    background-color:$color-dorado;
    font-size: 18px;
    font-size:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  }
  
    .fot--instagram {
      @extend .fot;
     color: white;
    }
    
    .fot--whatsapp {
      @extend .fot;
      color: black;
    }

    .fot--mail{
      @extend .fot;
      color: pink;
    }


  
