
        #grilla {
          display: grid;
          height: 600px;
          width: 100%;
          grid-template-columns: 40% 40%;
          grid-template-rows: 80%;
          grid-template-areas:"portada" "main-texto";
          justify-content: center;
          align-content: center;
          align-items: center;
          gap: 3rem;
        }

       .portada{
                width: 100%;
                height: 80%;
                position: relative;
                top: 3%;
            
            }
  
                
        h2 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        padding: 20px;
        font-family: $tipo-letra;
        }

        .parrafo {
          font-family: $tipo-letra;
           font-size: 18px;
           text-align: justify;
            }

            @mixin estilo_parrafo ($tipo-letra, $tamanio_letra, $color_letra) 
            {
              font-family: $tipo-letra;
              font-size: $tamanio_letra;
              text-align: justify;
              color: $color_letra;
            }

            .parrafo{
              @include estilo_parrafo(verdana,17px ,black )
            }
            .parrafodos{
              @include estilo_parrafo(verdana,17px ,rgb(112, 100, 10) )
            }
            .parrafotres {
              @include estilo_parrafo(Trebuchet,20px , white )
            }
    
        
    